
/* Общее */ 
body {
    background-color: rgba(1, 24, 69, 1);
    color: rgba(232, 237, 255, 1);
    margin: 0;
}

.header__menu__tablet {
    display: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: Gilroy_regular;
    font-size: 16px;
    color: rgba(232, 237, 255, 1);
}

a:hover {
    color: rgba(254, 106, 60, 1);
    transition: color 0.5s ease;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    gap: 185px;
    margin: auto;
}

.welcome__button:hover,
.booking button:hover {
    background-color: rgb(1, 19, 57);
    border: 1px solid rgba(232, 237, 255, 1);
    color: rgba(232, 237, 255, 1);
    transition: 0.5s;
}

.restaurant__button:hover,
.go__menu:hover {
    border: none;
    background-color: rgba(254, 106, 60, 1);
    transition: 0.5s;
}


/* Шапка */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82px;
}

.header__container {
    display: flex;
    align-items: center;
    gap: 110px;
    padding: 10px 0px;
}

.header__menu {
    margin: 0;
    padding: 10px 0px;
    display: flex;
    gap: 36px;
}

.header__logo {
    font-family: Oceanic_regular;
    padding: 10px;
    font-size: 28px;
    font-weight: 200; 
}

.header__link {
    font-family: Gilroy_regular;
    font-size: 16px;
    padding: 10px;
    line-height: 140%;
}

.header__basket {
    padding: 10px;
}



/* Приветственная секция */
.welcome {
    width: 1210px;
    display: flex;
    margin: auto;
}

.welcome__container {
    position: relative;
}

.welcome__content {
    display: flex;
    gap: 350px
}

.fork {
    position: absolute;
    right: 44%;
    top: 10%;
}

.welcome__title {
    font-family: Oceanic_regular;
    font-weight: 200;
    font-size: 256px;
    color: rgba(73, 97, 146, 1);
    text-align: center;
    margin: 0;
}

.welcome__subtitle {
    font-family: Oceanic_medium;
    font-size: 80px;
}

.welcome__description {
    font-family: Gilroy_regular;
    font-size: 18px;
    font-weight: 200;
    line-height: 140%;
    max-width: 380px;
}

.welcome__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgba(254, 106, 60, 1);
    padding: 20px;
    width: 285px;
    height: 74px;
    font-family: Gilroy_medium;
    font-size: 24px;
    line-height: 140%;
    color: rgba(232, 237, 255, 1);
}

.welcome__feature {
    display: flex;
    gap: 24px;
}

.welcome__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 50px;
}

.welcome__left {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.welcome__down {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.welcome__features {
    max-width: 387px;
}




/* О ресторане */

.restaurant {
    margin-top: 185px;
}
.menu__title {
    font-family: Gilroy_regular;
    font-size: 12px;
    line-height: 140%;
}

.main__title {
    font-family: Oceanic_medium;
    font-size: 56px;
    line-height: 105%;
}

.body__title {
    display: flex;
    gap: 120px;
    align-items: center;
}

.restaurant__text {
    font-family: Gilroy_regular;
    font-size: 18px;
    line-height: 140%;
}

.restaurant__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(1, 19, 57);
    border: 1px solid rgba(232, 237, 255, 1);
    color: rgba(232, 237, 255, 1);
    padding: 20px;
    width: 210px;
    height: 74px;
    font-size: 24px;
    line-height: 140%;
    position: relative;
    left: 7%;
}

.restaurant__content {
    display: flex;
    align-items: center;
    gap: 120px;
}

.restaurant__left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}



/* Меню */

.food {
    position: relative;
}

.food__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(73, 97, 146, 1);
    height: 390px;
    padding: 0px 37px;
    margin: 70px 0px;
}

.food__left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.food__text {
    max-width: 386px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.food__img {
    position: absolute;
    right: 8%;
    top: 20%;
}

.arrow {
    width: 21px;
    height: 25px;
}

.food h2 {
    font-family: Oceanic_regular;
    font-size: 36px;
    font-weight: lighter;
    margin: 0;
}

.food p {
    font-family: Gilroy_regular;
    font-size: 18px;
    line-height: 120%;
    margin: 0;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.money {
    font-family: Gilroy_medium;
    font-size: 18px;
    font-weight: bolder;
}

.weight {
    font-family: Gilroy_regular;
    font-size: 12px;
}

.food__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 48px;
    width: 180px;
    height: 65px;
    background-color: rgba(254, 106, 60, 1);
    color: rgba(232, 237, 255, 1);
    font-family: Gilroy_regular;
    font-size: 18px;
    border: none;
}

.go__menu {
    display: block;
    margin: 0 auto;
    background-color: rgb(1, 19, 57);
    border: 1px solid rgba(232, 237, 255, 1);
    color: rgba(232, 237, 255, 1);
    padding: 20px;
    width: 285px;
    height: 74px;
    font-family: Gilroy_regular;
    font-size: 24px;
    text-align: center;
}

.food__img {
  transition: transform 0.8s ease-in-out;
  transform: rotate(0deg);
}

.food__content:hover .food__img {
    transform: rotate(-180deg);
    transition: 0.8s;
}


/* Доставка */

.delivery__content__tablet {
    display: none;
}

.delivery__content {
    display: flex;
    align-items: center;
    gap: 40px;
    max-height: 430px;
    margin-top: 60px;
}

.delivery__left {
    display: flex;
    flex-direction: column;
    gap: 80px;
    max-width: 320px;
}

.delivery__one,
.delivery__two,
.delivery__three {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.delivery__three {
    max-width: 320px;
}

.delivery__content h2,
.delivery__content__tablet h2 {
    font-family: Oceanic_regular;
    font-size: 36px;
    margin: 0;
    font-weight: lighter;
}

.delivery__content span,
.delivery__content__tablet span {
    font-family: Oceanic_regular;
    font-size: 24px;
    font-weight: lighter;
}

.delivery__content p,
.delivery__content__tablet p {
    font-family: Gilroy_regular;
    font-size: 18px;
    margin: 0;
    font-weight: lighter;
}


/* Отзывы */

.reviews__content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 326px;
    margin-top: 40px;
}

.reviews__content p {
    max-width: 385px;
    margin: 0;
}

.reviews__container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.reviews__photo {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
}

.reviews__photo img {
    max-width: 180px;
    max-height: 260px;
}

.reviews__content p {
    font-family: Gilroy_regular;
    font-size: 18px;
    line-height: 120%;
}


/* Акции */

.stocks {
    position: relative;
}

.stocks__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(73, 97, 146, 1);
    height: 390px;
    padding: 0px 37px;
    margin: 70px 0px;
}

.stocks__left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.stocks__text {
    max-width: 386px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.stocks__img {
    position: absolute;
    right: 8%;
    top: 20%;
}

.stocks h2 {
    font-family: Oceanic_regular;
    font-size: 36px;
    line-height: 120%;
    font-weight: lighter;
    margin: 0;
}

.stocks p {
    font-family: Gilroy_regular;
    font-size: 18px;
    line-height: 120%;
    margin: 0;
}


.stocks__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 48px;
    width: 230px;
    height: 65px;
    background-color: rgba(254, 106, 60, 1);
    color: rgba(232, 237, 255, 1);
    font-family: Gilroy_regular;
    font-size: 18px;
    border: none;
}

.stocks__img {
    transition: transform 0.8s ease-in-out;
    transform: rotate(0deg);
}

.stocks__content:hover .stocks__img {
    transform: rotate(-180deg);
    transition: 0.8s;
}


/* Бронь */

.booking__content {
    display: flex;
    gap: 60px;
    margin-top: 60px;
}

.booking label {
    font-family: Gilroy_regular;
    font-size: 18px;
}

.booking__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 590px;
    height: 546px;
}

.guest__info {
    display: flex;
    gap: 20px;
}

.booking__details {
    display: flex;
    gap: 20px;
}

.guest__info input {
    width: 285px;
    height: 60px;
}

.booking__details input {
    width: 183px;
    height: 60px;
}

.special__requests textarea {
    width: 590px;
    height: 177px;
}

.booking img {
    width: 550px;
    height: 470px;
}

.booking input, textarea {
    background-color: rgba(1, 24, 69, 1);
    border: 1px solid #e8edff;
    color: rgba(232, 237, 255, 1);
    font-family: Gilroy_regular;
    font-size: 18px;
}

.info__name,
.info__phone,
.info__date,
.info__time,
.info__guests,
.special__requests {
    display: flex;
    flex-direction: column;
}

.booking button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 590px;
    height: 74px;
    background-color: rgba(254, 106, 60, 1);
    color: rgba(232, 237, 255, 1);
    font-family: Gilroy_regular;
    font-size: 24px;
    border: none;
}

/* Контакты */

.contacts h2 {
    font-family: Oceanic_regular;
    font-size: 36px;
    font-weight: lighter;
    margin: 0;
}

.contacts__text span {
    font-family: Gilroy_regular;
    font-size: 18px;
}

.contacts__questions,
.contacts__adress,
.contacts__media {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contacts__content {
    display: flex;
    gap: 124px;
    margin-top: 60px;
}

.contacts__text {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.question___icons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.phone,
.email,
.adress_icon {
    display: flex;
    align-items: center;
    gap: 8px;
}

.media__icons {
    display: flex;
    gap: 20px;
}

/* Футер */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(73, 97, 146, 1);
    max-width: 1440px;
    padding: 60px 120px;
    height: 637px;
    margin-top: 150px;
}

.footer__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: Gilroy_regular;
    font-size: 18px;
    max-width: 1200px;
}
.footer h3 {
    font-family: Oceanic_regular;
    font-size: 24px;
    font-weight: lighter;
}

h3 {
    margin: 0;
}

.aquarim__end {
    font-family: Oceanic_regular;
    font-size: 250px;
    font-weight: lighter;
    color: rgba(1, 24, 69, 1);
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    gap: 423px;
}

.footer__info {
    display: flex;
    gap: 169px;
}

.footer__about ul,
.footer__visitors ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
    padding: 0;
}

.footer__end {
    display: flex;
    justify-content: space-between;
}

/* Шрифты */
@font-face {
    font-family: 'Oceanic_regular';
    src: url('../fonts/Oceanic_TRIAL_Regular.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

  @font-face {
    font-family: 'Oceanic_medium';
    src: url('../fonts/Oceanic_TRIAL_Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

  @font-face {
    font-family: 'Gilroy_regular';
    src: url('../fonts/Gilroy_Regular.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

  @font-face {
    font-family: 'Gilroy_medium';
    src: url('../fonts/Gilroy_Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

/* Планшеты */

@media screen and (max-width: 1024px) {
    .header__menu,
    .header__basket {
        display: none;
    }

    .header__menu__tablet {
        display: block;
    }

    header {
        max-width: 740px;
        margin: auto;
    }

    .header__container {
        gap: 553px;
    }


    /* Приветственная секция */

    .welcome {
        max-width: 740px;
    }

    .welcome__title {
        font-size: 158px;
    }

    .welcome__subtitle {
        font-size: 52px;
    }

    .welcome__description {
        font-size: 16px;
        margin: 0;
    }

    .welcome__content {
        gap: 195px;
    }

    .welcome__left {
        gap: 30px;
    }

    .welcome__right {
        gap: 30px;
    }

    .welcome__features {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 240px;
    }

    .welcome__feature {
        max-height: 76px;
        gap: 10px;
    }

    .welcome__feature img {
        width: 30px;
        height: 30px;
    }

    .welcome__feature p {
        max-width: 166px;
    }

    .welcome__button {
        width: 240px;
        height: 57px;
        font-size: 18px;
    }

    .fork {
        width: 150px;
        height: 400px;
        right: 42%;
        top: 17%;
    }

    .container {
        max-width: 740px;
    }

    /* О ресторане */

    .menu__title {
        font-size: 10px;
    }

    .main__title {
        font-size: 36px;
    }

    .restaurant__text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 16px;
    }

    .restaurant__text p {
        margin: 0;
    }

    .restaurant img {
        max-width: 420px;
        max-height: 280px;
        margin-top: 30px;
    }

    .restaurant__button {
        width: 285px;
        height: 57px;
        font-size: 18px;
        left: 0;
    }

    .restaurant__content {
        gap: 20px;
        align-items: flex-start;
    }

    /* Меню */

    .food__content {
        padding: 20px;
        max-height: 360px;
        margin: 30px 0px;
    }

    .food h2 {
        font-size: 26px;
    }

    .food__text p,
    .money {
        font-size: 16px;
    }

    .weight {
        font-size: 12px;
    }

    .food__text {
        max-width: 231px;
        gap: 10px;
    }

    .food__left {
        gap: 19px;
    }

    .arrow {
        width: 21px;
        height: 24px;
    }

    .food__button {
        width: 180px;
        height: 54px;
        font-size: 18px;
        margin-top: 30px;
    }

    .food__img {
        top: 28%;
        width: 300px;
        height: 300px;
    }

    .go__menu {
        width: 285px;
        height: 60px;
        font-size: 20px;
    }

    /* Доставка */

    .delivery__content {
        display: none;
    }

    .delivery__content__tablet {
        display: block;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        
    }

    .delivery__text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
    }

    .delivery__left {
        gap: 30px;
    }

    .delivery__one,
    .delivery__two,
    .delivery__three {
        gap: 10px;
    }

    .delivery__text h2,
    .delivery__text span {
        font-size: 26px;
    }

    .delivery__text p {
        font-size: 16px;
    }

    /* Отзывы */

    .none {
        display: none;
    }

    .reviews__photo {
        gap: 6px;
    }

    .reviews__content {
        gap: 121px;
    }

    .reviews__content p {
        font-size: 16px;
    }
}